@model Mts.Domain.Products

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>


<div class="editor">  

    @using (Html.BeginForm(new {action = "EditProduct", controller="admin" }))
    {
        <div class="editor-label">
            <label>Category</label>
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("Type", Model.ProductTypes.Name)*@
            @Html.DropDownListFor(x => x.TypeID, (SelectList)ViewBag.Type)
        </div>

        <div class="editor-label">
            <label>Brand</label>
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("Brand", Model.Brands.Name)*@
            @Html.DropDownListFor(x=>x.BrandID, (SelectList)ViewBag.Brand)
        </div>

        @Html.EditorForModel()
        <input type="submit" value="Save" />        
    }

</div>

<div id="ProductImage">
    @{
        if (Model.ProductImageLocation != null)
        {
            <img width="200" height="300" src="@Url.Content(@Model.ProductImageLocation)" />
        }
           
        else
        {
            @:<img width="200" height="300" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" />
        }
    }
    

    @using (Html.BeginForm("UploadImage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="hidden" value="@Model.ID" name="id" />
        <input type="submit" value="Ok" />
    }

    <div id="UploadInfo">
        @TempData["UploadImage"]
    </div>

</div>
<div class="empty">
</div>
<div id="returnLink">
    @Html.ActionLink("Cancel and return to List", "Index", "admin")
</div>
