@model IEnumerable<Mts.Domain.Products>
@{ 
    var first = Model.FirstOrDefault();    
}
<table class="grid">
    <thead>
        <tr>            
            <th>@Html.LabelFor(x=>first.ProductTypes.Name)</th>
            <th>@Html.LabelFor(x=>first.Brands.Name)</th>
            <th>@Html.LabelFor(x => first.ModelName)</th>
            <th>@Html.LabelFor(x => first.Price)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>               
                @{
                    if (item.ProductTypes == null)
                    {
                        <td>No Category</td>
                    }
                    else
                    {
                        <td>@item.ProductTypes.Name</td>
                    }
                }

                @{
                    if (item.Brands == null)
                    {
                        <td>No Brand</td>
                    }
                    else
                    {
                        <td>@item.Brands.Name</td>
                    }
                }                
                <td>@item.ModelName</td>
                <td>@item.Price.ToString("c")</td>      
                <td>@Html.RouteLink("Edit", new { controller = "admin", action = "Edit", id = item.ID, table = "products" })</td>   
                <td>
                    @using (Html.BeginForm(new { action = "Delete", controller = "admin", id = item.ID, table = "products" }))
                    {
                        <input type="submit" value="Delete" />
                    }
                </td>                  
            </tr>
        }       
        
    </tbody>
</table>
@Html.RouteLink("Create new product", new {controller = "admin", action="edit", id="0", table = "products"}, new { @class = "createLink"})
