@model Mts.Domain.Products
<div id="productSummary">
    <div id="summaryImg">
        @{
            if (Model.ProductImageLocation != null)
            {
                <img width="110" , height="115" src="@Url.Content(Model.ProductImageLocation)" />
            }
            else
            {
                <img width="110" , height="115" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" />
            }
        }
        
    </div>
    <div id="summaryText">
        <h2>@Model.Brands.Name</h2>
        <h2>@Model.ModelName</h2>
        <h3>@Model.Description</h3>
        <h3>@Model.Price$</h3>
    </div>
</div>
